:root {
    --primary: #5A72A0;
    --white: #FEFEFE;
    --font: "Open Sans", sans-serif;
    --shadow: 0px 4px 45px 0px #1A1B1A12;

    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --xl2: 1536px;
}

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;