:root {
    --primary: #5A72A0;
    --white: #FEFEFE;
    --font: "Open Sans", sans-serif;
    --shadow: 0px 4px 45px 0px #1A1B1A12;

    --primary-content: #F2F3F2;
    --primary-content-muted: #CBD0C9;
    --base: #F2F3F2;
    --bg: #FEFEFE;
    --text-color: #4B5249;
    --text-color2: #323730;
    --text-muted: #97A194;
    --headline-content: #262924;
    --border-color: #EDEFEC;
    --border-color2: #97A194;
    --error: #FF5630;
    --warning: #FFAB00;
    --success: #38CB89;
    --accent: #377DFF;

    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --xl2: 1536px;
}

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;