@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'remixicon/fonts/remixicon.css';
@import '@glidejs/glide/dist/css/glide.core.min.css';
@import '@glidejs/glide/dist/css/glide.theme.min.css';

[x-cloak] {
  display: none !important;
}

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';
@import './components/glide.scss';
@import './components/search-modal.scss';
@import './components/breadcrumbs.scss';

figure.zoom {
  & img:hover {
    opacity: 0;
  }
  & img {
    transition: opacity .5s;
    display: block;
    width: 100%;
  }
  background-position: 50% 50%;
  position: relative;
  // overflow: hidden;
  cursor: zoom-in;
}